a{
  text-decoration: none;
  padding: 0 20px;
  color: white;
  text-transform: uppercase;
  font-family: Lato;
}
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a{
  color: white;
}
.nav{
  background-color: #9c9fb3;
  padding: 10px 10px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.logo{
  height: 40px;
  padding: 0;
  margin: 0 800px 0 0;
}
body{
  margin: 0 auto;
  font-family: Raleway;
}
main{
  margin: 6% 0;
  display: flex;
}
footer{
  padding: 20px;
  text-align: center;
  background: #9c9fb3;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal, .modal1, .modal2 {
  padding: 100px;
  background-color: rgba(211, 211, 211, .3);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content, .modal-content1, .modal-content2 {
  padding: 40px 20px;
  color: #444;
  width: 60%;
  background-color: white;
}
aside{
  background: linear-gradient(#9A89AD, #71CFCE);
  padding: 30px 10px;
  width: 25%;
  height: 500px;
  border: 1px solid #9A89AD;
  margin-left: 2%;
}
aside img{
  width: 50%;
  border-radius: 100%;
  display: block;
  margin: 20% auto;
  background: white;
}
h3{
  font-size: 24px;
  text-align: center;
}
.mainArea{
  border: 1px solid white;
  margin: 0 2%;
  width: 90%;
  background: linear-gradient(#71CFCE, #9A89AD);
}
.block{
  margin: 2%;
  background-color: #E0E0E2;
  padding: 1px 2%;
  display: flex;
  justify-content: space-between;
}
.block div{
  display: flex;

}
.block button, .block form{
  margin: auto 1%;
}
.profile-header{
  display: flex;
  justify-content: space-between;
}
.profile-header button{
  height: 100%;
  margin: 2%;
}
.profile-header h2{
    margin: 2% 10% 0%;
    font-size: 36px;
}
input, textarea {
  margin: 2% auto;
  border-radius: 5px;
  padding: 2% 1%;
  width: 98%;
  text-transform: uppercase;
}
textarea{
  height: 150px;
}
h4, {
  text-align: center;
}
a{
  color: black;
}
a:hover{
  color: #8B7583;
}
.check input{
  width: 5%;
}
h4{
  font-size: 22px;
}
h6{
  text-align: right;
  font-size: 18px;
  margin: 0;
}
#deactivate{
  text-align: center;
}
