a{
  text-decoration: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-family: Lato;
}
.nav{
  background-color: #9c9fb3;
  padding: 10px 10px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.logo{
  height: 40px;
  padding: 0;
  margin: 0;
}
body{
  margin: 0 auto;
  font-family: Raleway;
}
main{
  background: url('/assets/bokeh.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  padding-top: 6%;
}
footer{
  padding: 20px;
  text-align: center;
  background: #9c9fb3;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}
h3{
  text-align: center;
  text-transform: uppercase;
}
.modal, .modal1 {
  padding: 100px;
  background-color: rgba(255, 255, 255, .5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content, .modal-content1 {
  padding: 40px 20px;
  color: #444;
  width: 60%;
  background-color: white;
}
form{
  background: white;
  width: 40%;
  margin: 0 auto;
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input, textarea {
  margin: 2% auto;
  border-radius: 5px;
  padding: 2% 1%;
  width: 50%;
  text-transform: uppercase;
}
a:hover{
  color: #8B7583;
}
